html { 
	height: 100% 
}

body { 
	min-height: 100% 
}

.row {
	display: flex;
}

.col {
  flex: 1; /* additionally, equal width */
  
  padding: 1em;
}

.bg { 
    background: url('desk.jpg') no-repeat center center;
    background-size: cover;
 	min-height:100vh;
}

.navbar-default {
	background: none;
	border: none;
}

.navbar-default .navbar-nav > li > a {
	padding-top: 19px;
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
	border-bottom: 4px solid white;  
	color: white;
}

.navbar-default .navbar-nav > li {
	display: inline-block;
}

.navbar-default .navbar-toggle {
    color: white;
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-toggle:focus {
    background:none;
}

.centerpiece {
	position: absolute;
	top: 30%;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.name {
	color: white;
    font-family: "Calibri", Calibri, monospace, bold;
    font-size: 65px;
}

.middle-buttons {
    font-size: 27px;
}

.middle-buttons a, button {
	color: white;
	background: none;
	text-decoration: none;
    padding: 12px;
    width: 130px;
    border: 3px solid white;
}

.middle-buttons button:hover, a:hover {
    color: black;  
    background-color: white;
}