html { 
	height: 100% 
}

body { 
	min-height: 100% 
}

@media all and (max-width: 500px) {
    .name p {
        font-size: 45px;
    }

    .centerpiece {
        top: 10% !important;
    }

    .middle-buttons button {
        margin-top: 15px;
        margin-bottom: 0px !important;
        font-size: 18px;
    }

    .contact-text {
        display: none
    }

    .menu-info {
        display: inline-block !important;
    }

}

@media all and (max-width: 500px) and (orientation: landscape) {
    .bg {
        background: none;
        background-color: black;
    }
 }

.row {
	display: flex;
}

.col {
  flex: 1;
  padding: 1em;
}

.bg { 
    background: url('desk.jpg') no-repeat center center;
    background-size: cover;
 	min-height:100vh;
}

.navbar-default {
	background: none;
	border: none;
}

.navbar-default .navbar-nav > li > a {
	padding-top: 19px;
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
	border-bottom: 4px solid white;  
	color: white;
}

.navbar-default .navbar-nav > li {
	display: inline-block;
}

.navbar-default .navbar-toggle {
    color: white;
    border: none;
    width: 60px;
}

.navbar-default .navbar-toggle:hover, .navbar-toggle:focus {
    background:none;
}

.centerpiece {
	position: absolute;
	top: 30%;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.name {
	color: white;
    font-family: "Calibri", Calibri, monospace, bold;
    font-size: 75px;
}

.middle-buttons {
    font-size: 27px;
}

.middle-buttons a, button {
	color: white;
	background: none;
	text-decoration: none;
    padding: 10px;
    width: 130px;
    border: 3px solid white;
    margin-bottom: 20px !important;
    margin-right: 6px !important;
    margin-left: 6px !important;
}

.middle-buttons button:hover, a:hover {
    color: black;  
    background-color: white;
}

#contact {
    display: none;
}

.contact-info a {
    color: white;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
}

.contact-info button  {
    border: none;
    max-width: 50px;
}

.contact-info a:hover, .contact-info button:hover {
    color: white;
    border: none;
    background: none;
    padding-bottom: 6px;
    border-bottom: 4px solid white; 
    text-decoration: none;
}

.menu-info {
    display: none;
}