html { 
	height: 100% 
}

body { 
	min-height: 100% 
}

@media all and (max-width: 500px){
    .name p {
        font-size: 45px;
    }

    .centerpiece {
        top: 10% !important;
    }

    .resume-centerpiece {
        top: 20% !important;
    }

    .middle-buttons button {
        margin-top: 15px;
        margin-bottom: 0px !important;
        font-size: 18px;
    }

    .contact-text {
        display: none
    }

    .menu-info {
        display: inline-block !important;
    }

    .descriptions p {
        font-size: 12px !important;
    }

    .descriptions h1 {
        font-size: 24px !important;
    }

}

@media all and (max-width: 768px){
    #arrow {
        display: inline !important;
    }

    .descriptions {
        top: 40% !important;
    }

    .back-arrow {
        top: 8% !important;
    }

    .resume-name p {
        display: none;
    }

    .business-text p {
        display: none;
    }

    .project-name {
        display: none;
    }

    .center-projects div{
     margin:0 -4% 0 4%;
  }
}

@media all and (max-height: 500px) and (orientation: landscape){
    .name p {
        font-size: 45px;
    }

    .centerpiece {
        top: 20% !important;
    }

    .middle-buttons button {
        margin-top: 15px;
        margin-bottom: 0px !important;
        font-size: 18px;
    }

    .contact-text {
        display: none
    }

    .menu-info {
        display: inline-block !important;
    }
 }

.row {
	display: flex;
}

.col {
  flex: 1;
  padding: 1em;
}

.bg { 
    background: url('desk.jpg') no-repeat center center;
    background-size: cover;
 	min-height:100vh;
}

.navbar-default {
	background: none;
    border: none;
}

.navbar-default .navbar-nav > li > a {
	padding-top: 19px;
    color: white;
    border-bottom: 4px solid transparent;
}

.navbar-default .navbar-nav > li > a:hover {
	border-bottom: 4px solid white;  
	color: white;
}

.navbar-default .navbar-nav > li {
	display: inline-block;
}

.navbar-default .navbar-toggle {
    color: white;
    border: none;
    width: 60px;
}

.navbar-default .navbar-toggle:hover, .navbar-toggle:focus {
    background:none;
}

.centerpiece {
	position: absolute;
	top: 30%;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.name {
	color: white;
    font-family: "Calibri", Calibri, monospace, bold;
    font-size: 75px;
}

.middle-buttons {
    font-size: 18px;
}

.middle-buttons a, button {
	color: white;
	background: none;
	text-decoration: none;
    padding: 16px;
    width: 130px;
    border: 3px solid white;
    margin-bottom: 20px !important;
    margin-right: 6px !important;
    margin-left: 6px !important;
}

.middle-buttons button:hover, a:hover {
    color: black;  
    background-color: white;
}

#contact {
    display: none;
}

.contact-info a, h3 {
    color: white;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
}

.contact-info button  {
    border: none;
    max-width: 50px;
}

.contact-text {
    font-family: "Calibri", Calibri, monospace, bold;
}

.contact-info a:hover, .contact-info button:hover {
    color: white;
    border: none;
    background: none;
    padding-bottom: 6px;
    border-bottom: 4px solid white; 
    text-decoration: none;
}

.menu-info {
    display: none;
}

.descriptions {
    color: white;
    font-family: "Calibri", Calibri, monospace, bold;
    font-size: 25px;
    position: absolute;
    top: 35%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.descriptions p {
    font-size: 16px;
}

.back-arrow {
    position: absolute;
    top: 15%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.back-arrow button {
    border: none;
}

#arrow {
    display: none;
}

.company {
    border: 5px solid transparent;
}

.company a {
    text-decoration: none;
    color: white;
}

.company:hover {
    border: 5px solid white;
}

.projects {
    color: white;
    position: absolute;
    top: 35%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.projects a {
    color: white;
}

.projects-2 {
    color: white;
    position: absolute;
    top: 65%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.project-block {
    padding-top: 10px;
    border: 3px solid transparent;
}

.project-block:hover {
    border: 3px solid white;
}

.project-name {
    color: white;
    font-family: 'Cabin', sans-serif;
}

.projects-title {
    color: #C3BfB9;
}

.pages-header h1 {
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 50px;
    line-height: 100px;
}

.bg-2 {
    background-color: #F8F9F9;
}

.resume {
    border: 2px solid black;
}

.project-info h2 {
    font-family: 'Cabin', sans-serif;
}

.project-info {
    padding-bottom: 20px;
}

.last-project {
    padding-bottom: 500px;
}

.project-images {
    padding-bottom: 40px;
}

.project-link {
    color: black;
    background-color: #F8F9F9;
}

.project-link:hover {
    color: #434343;
    background-color: #F8F9F9;
}

.top-arrow {
    float: right;
}