body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bgimg {
    background-image: url('desk.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Calibri", Calibri, monospace, bold;
    font-size: 25px;
}

.largename {
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    font-size: 40px;
}

.header {
    overflow: hidden;
    background:transparent;
    background-image:none;
    border-color:transparent;
    box-shadow:none;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

.topnav li{
    float: right;
    padding: 8px;
}

.topnav li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    color: white;  
    left:0;
    bottom: 10px;
    border-bottom: 4px solid white;  
}

.midnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 27px;
}

.midnav li{
    display: inline-block;
    padding: 18px;
}

.midnav li a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    border: 3px solid white;
}

.midnav a:hover {
    color: black;  
    background-color: white;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa:hover {
    opacity: 0.7;
}

hr {
    margin: auto;
    width: 40%;
}